<div class="landingpage-container">
  <div class="animation">
    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dkhjd4ulg/video/upload/v1679534488/neil%20cairns/NEIL_CAIRNS_4_voxuoa.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>
      </div>
    </div>
  </div>

  <div id="section1" class="cards-instructions mb-4">

    <div class="card-step">
      <h2 style="margin: 10px;"> Projects</h2>
      <p style="text-align:center;"><ul>myRoutes </ul><ul> MotorcycleMania </ul></p>

      <div class="d-flex justify-content-center w-140">
      </div>
    </div>

    <div class="card-step">
      <h2 style="margin: 10px;"> Skills </h2>
      <p style="text-align:center;"><ul>JavaScript, HTML, CSS, Ruby, Ruby on Rails, Bootstrap, SQLite, Stimulus, Figma, Git, Git Hub, Heroku, node.js, Final Cut Pro, Adobe Photoshop, </ul>
      <div class="d-flex justify-content-center w-140">
      </div>
    </div>

    <div class="card-step">
      <h2 style="margin: 10px;"> Get in touch </h2>
      <p style="text-align:center;"> <ul> tel - 07706 567 566 </ul><ul> email - neilcairns@me.com </ul><ul> socials are all in the footer below </ul></p>
      <div class="d-flex justify-content-center w-140">
      </div>
    </div>
  </div>
</div>


<%# <div class="main">
  <section id="section2">

    <div class="p-5 mb-4 bg-light rounded-3" style= "text-align:center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Maximise your travel efficiency. Use myRoutes.</h1>
        <p class="fs-4 mb-5">Fed up of not being able to save your routes on Google Maps? <br>Join our community of users and plan your routes in advance. <br>Wherever the travel bug takes you, we've got you sorted!</p>
        <%= link_to "Start now!", routes_path, class: "btn-byj btn btn-primary" %>
      <%# </div>
    </div>

  </section>
</div> %>
